:root {
    /* Light Theme Colors */
    --foreground-color: #080808;
    --background-color: #fafafa;
    --close-background-color: #e5e5e5;
    --background-image: url('../img/paper_background.jpg');
}

.dark {
    /* Dark Theme Colors */
    --background-color: #2a2a2a;
    --foreground-color: #eee;
    --close-background-color: #646464;
    --background-image: url('../img/paper_background_dark.jpg');
}

.hidden {
    display: none;
}

*,
*:before,
*:after {
    color: inherit;
    box-sizing: border-box;
    font-family: 'Courier New', monospace;
    font-weight: bold;
}

html {
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--foreground-color);
    min-height: 100vh;
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 4px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--foreground-color);
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: transparent;
}

.page-content {
    position: relative;
    max-width: 600px;
    min-width: 500px;
    margin: 0 auto;
    padding: 16px;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0;
}

h1.page-title {
    margin-top: 0;
}

.close-button-container {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
}

.close-button-container button {
    font-size: 16px;
    padding: 4px 8px 3px;
    border: none;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    background-color: var(--close-background-color);
}

table {
    position: relative;
    width: 100%;
    display: block;
    border-spacing: 0;
}

table tbody {
    display: block;
}

tr {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 140px 84px;
    align-items: flex-end;
    gap: 4px;
    padding: 0;
}

tr td {
    padding: 0;
}

select,
input[type='text'],
input[type='number'] {
    width: 100%;
    display: block;
    padding: 10px 0 4px 8px;
    height: 30px;
    margin-top: 4px;
    background-color: transparent;
    letter-spacing: 2px;
    border: 0;
    outline: 0;
    text-align: right;
    font-size: 1em;
    border-bottom: 2px solid var(--foreground-color);
}

input[type='button'],
input[type='reset'] {
    cursor: pointer;
    border: 2px dashed var(--foreground-color);
    font-size: 20px;
    line-height: 20px;
    padding: 2px 6px 1px;
    background-color: var(--background-color);
    color: var(--foreground-color);
}

.button-group {
    padding-top: 8px;
}

.output-container {
    display: block;
    border-bottom: 2px solid var(--foreground-color);
}

output {
    width: 100%;
    font-weight: bold;
    font-size: 1em;
}

output.output-container {
    display: block;
    padding: 10px 18px 2px 8px;
    height: 30px;
    margin-top: 4px;
    text-align: right;
    position: relative;
}

output.output-container:before {
    content: '=';
    display: block;
    position: absolute;
    left: 0;
}

.label-with-dots {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    flex: 1 1 auto;
    min-width: 0;
    position: relative;
    top: 6px;
}

.label-with-dots label {
    flex: 0 1 auto;
    display: block;
    line-height: 20px;
}

/* Applied some tricky CSS here to force these dots to wrap, but with overflow
 * hidden and the flex shrink, you'll never see half dots cropped out */
.label-with-dots:after {
    content: ' . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .';
    direction: rtl;
    display: block;
    letter-spacing: -0.4em;
    padding: 0 0.2em 0 0;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    white-space: break-spaces;
    flex: 1 1 auto;
}

tr.output_begin > td {
    padding-top: 1em;
}

/* Select2 Overrides */
select,
.select2,
.select2-selection {
    border: 0;
    outline: 0;
    text-align: right;
    font-size: 1em;
}

select,
.select2 {
    margin-top: 4px;
}

select,
.select2,
.select2-selection {
    background-color: var(--background-color) !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: inherit;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-top-color: var(--foreground-color);
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown,
.select2-container--default .select2-selection--single {
    border-width: 2px;
    border-radius: 0;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-dropdown,
.select2-container--default .select2-selection--single {
    border-color: var(--foreground-color);
    background-color: var(--background-color);
}

.select2-container--default .select2-results__option--selected {
    background-color: var(--foreground-color);
    color: var(--background-color);
    opacity: 0.5;
}

.select2-results__options {
    text-align: right;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: var(--foreground-color);
    color: var(--background-color);
}

.select2-container .select2-selection--single .select2-selection__rendered {
    text-overflow: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin-left: 0.2em;
}

.select2-results__options::-webkit-scrollbar {
    width: 2px;
}

.select2-results__options::-webkit-scrollbar-track {
    background: transparent;
}

.select2-results__options::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color: var(--foreground-color);
}
